@model SD1_sk072215_MIS4200.Models.Procedure

@{
    ViewBag.Title = "Remove Procedure";
}

<h2>Remove Procedure</h2>

<h3>Are you sure you want to remove this procedure and all of its information from the databse?</h3>
<div>
    <h4>Procedure:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procedureCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedureCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-block" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
