@model SD1_sk072215_MIS4200.Models.Procedure

@{
    ViewBag.Title = "Procedure Details";
}

<h2>Procedure Details</h2>

<div>
    <h4>Iformation regarding the procedure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procedureCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedureCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.procedureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
