@model SD1_sk072215_MIS4200.Models.AppointmentDetail

@{
    ViewBag.Title = "Delete Invoice";
}

    <h2>Delete Invoice</h2>

<h3>Are you sure you want to delete the finalized appointment invoice?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedure.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtyProcedure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtyProcedure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-block" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
