@model SD1_sk072215_MIS4200.Models.Appointment

@{
    ViewBag.Title = "Appointment Information";
}

<h2>Appointment information</h2>

<div>
    <h4>Here is the information on this appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointmentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
